<div class="inbox-wrapper">

  <div class="page-name">
    <h3>Outbox</h3>
    <div class="delete-box">
      <button class="delete-btn" onclick="deleteSelectedEmails()">Delete</button>
    </div>
  </div>
  <div class="email-div">
    <table class="email-list">
      <thead>
        <tr>
          <th><input type="checkbox" id="select-all" onclick="toggleSelectAll(this)"></th>
          <th>Receiver</th>
          <th>Subject</th>
          <th>Sent At</th>
        </tr>
      </thead>
      <tbody>
        <% session.data.emails.forEach(email=> { %>
        <tr class="email-item">
          <td>
            <input type="checkbox" class="email-checkbox" value="<%= email.id %>">
          </td>
          <td class="sender" onclick="window.location.href='/email/<%= email.id %>'">
            <%= email.receiver_fullname %>
          </td>
          <td class="subject" onclick="window.location.href='/email/<%= email.id %>'">
            <%= email.subject %>
          </td>
          <td class="sent_at" onclick="window.location.href='/email/<%= email.id %>'">
            <% const sentDate=new Date(email.sent_at); const now=new Date(); const oneDay=24 * 60 * 60 *
                              1000; const daysAgo=Math.floor((now - sentDate) / oneDay); if (daysAgo===0) { %>
            <%= sentDate.toLocaleTimeString([], { hour: '2-digit' , minute: '2-digit' }) %>
            <% } else if (daysAgo===1) { %>
            Yesterday
            <% } else { %>
            <%= sentDate.toLocaleDateString('en-US', { month: 'short' , day: 'numeric' }) %>
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <%- include("../partials/pagination") %>


</div>


<script src="/js/toggleSelectAll.js"></script>
<script src="/js/deleteSelectedEmails.js"></script>